body {
    margin: 0;
    font-family: 'Zen Dots', cursive;
    background-color: #012;
}

#root {
    /* padding: 3rem; */
    text-align: center;
}

#root h1 {
    margin: 0;
    font-family: 'Bungee Shade', cursive;
    color: white;
}

#root canvas {
    display: block;
    margin: 0 auto;
    border: 4px solid white;
}